{% extends "base.html" %}
{% load static %}

{% block content %}

<body class="bg-yellow-50">
    <link rel="stylesheet" href="{% static 'veggie/add_review.css' %}">
    <div class="center-top text-yellow-700">Add your review</div>
    {% if messages %}
        {% for message in messages %}
            <p style="color: orangered;"><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}
    <form action="{% url 'veggie:add_review' pk=restaurant.pk %}" method="post" style="font-family: Inter,serif" class="rounded-md">
        <div style="font-size: 30px; font-family: Inter,serif; font-weight: 700; word-wrap: break-word;" class="text-yellow-600">{{restaurant.restaurant_text}}</div>
        <div style="color: black; font-size: 18px; font-family: Inter,serif; font-weight: 400; word-wrap: break-word;">- {{restaurant.category}} -</div>
        {% comment %} <img src="{{restaurant.image}}" alt="Restaurant Image" width="30%" height="50%" ></image> {% endcomment %}
        <br>
        {% csrf_token %}
        <div>
            Restaurant link:
            <a href={{restaurant.restaurant_link}} class="text-blue-700 underline">Tripadvisor</a>
        </div>
        <br>
        <div class="flex items-center space-x-1 mb-1">
            Star Rating:
            <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700 p-2 mx-2">
                <input type="radio" name="review_rate" value="1" checked>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current mx-2"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <label for="id_review_rate"></label> 
            </div>                     

            <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700 p-2 mx-2">
                <input type="radio" name="review_rate" value="2">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current ml-2"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <label for="id_review_rate"></label> 
            </div>

            <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700 p-2 mx-2">
                <input type="radio" name="review_rate" value="3">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current ml-2"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                <label for="id_review_rate"></label> 
            </div>

            <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700 p-2 mx-2">
                <input type="radio" name="review_rate" value="4">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current ml-2"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <label for="id_review_rate"></label> 
            </div>

            <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-700 p-2 mx-2">
                <input type="radio" name="review_rate" value="5">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current ml-2"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-400 w-5 h-auto fill-current"
                viewBox="0 0 16 16" width="30" fill="orange">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <label for="id_review_rate"></label> 
            </div>

        </div>
        <br>
        <div>
            <label for="id_review_title">Review title:
                <input type="text" name="review_title" placeholder="Write your title...">
            </label>
        </div>
        <div>
            <label for="id_review_description">Review description:
                <textarea id="id_review_description" rows="4" name="review_description"
                class="w-full px-2 text-sm text-gray-900 bg-white border-1 rounded-md border-gray-300
                dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" 
                placeholder="Write description...">
            </textarea>
            </label>
        </div>


        <a href="{% url "veggie:detail" pk=restaurant.pk %}" type="button" 
            class="text-white bg-gray-400 hover:bg-gray-500 hover:text-white focus:ring-4 focus:outline-none
            focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Back to restaurant
        </a> 

        <button type="submit" name="add_review" 
        class="text-black bg-yellow-400 hover:bg-gray-500 hover:text-white focus:ring-4 focus:outline-none
        focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
        dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Submit review
        </button>
    </form>

</body>
{% endblock %}
