{% extends "base.html" %}
{% load static %}

{% block content %}
    <body style="font-family: Inter; hi" class="bg-yellow-50">
        {% if messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    {% for message in messages %}
                        Swal.fire({
                            icon: '{{ message.tags }}',  // Use the message tags as icons (success, error, warning, etc.)
                            title: '{{ message.tags|capfirst }}',  // Use the message tags as titles with the first letter capitalized
                            text: '{{ message }}',
                        });
                    {% endfor %}
                });
            </script>
        {% endif %}
        <div class="grid grid-cols-2 gap-2 mt-10">
            <div class="relative inline-grid relative justify-center ml-[3vw] h-[80vh] w-[40vw]">
                <div class="relative justify-center ml-10 h-[73vh] w-[40vw] bg-yellow-100 rounded-md shadow-xl">
                    <div class="absolute flex right-0 mt-4 bg-gray-300 rounded-3xl w-[20vw] h-[5vh] text-lg justify-center items-center mr-[1vw] bg-white">
                        <p class="text-yellow-700 mx-4"><strong>Average rating:</strong></p>
                        <div id="{{restaurant.pk}}" class="mr-4"></div>
                    </div>
                    <h1 class="text-3xl font-bold mt-[10vh] mb-[2vh] ml-[3vw]">{{ restaurant.restaurant_text }}</h1>
                    <img src="{{ restaurant.image }}" alt="Restaurant Image" class="w-[35vw] h-[35vh] ml-auto mr-auto rounded-xl">
                    <div class="relative text-lg w-[35vw] h-[10vh] ml-auto mr-auto mt-[2vh]">
                        <p class="mb-2">
                            <img src="{% static 'veggie/images/map.png' %}" alt="delete" height="15" width="20" style="display: inline-block; vertical-align: middle;">
                            Location: {{ restaurant.location }}
                        </p>
                        <p class="mb-2">
                            <img src="{% static 'veggie/images/tag.png' %}" alt="delete" height="15" width="20" style="display: inline-block; vertical-align: middle;">
                            Category: {{ restaurant.category }}
                        </p>
                        <p class="mb-2">
                            <img src="{% static 'veggie/images/price-tag.png' %}" alt="delete" height="15" width="20" style="display: inline-block; vertical-align: middle;">
                            Price Rate: {{ restaurant.price_rate }}
                        </p>
                        <p class="mb-2">
                            <img src="{% static 'veggie/images/link.png' %}" alt="delete" height="15" width="20" style="display: inline-block; vertical-align: middle;">
                            Link: <a href={{restaurant.restaurant_link}} class="text-blue-700 underline">{{restaurant.restaurant_text}}</a>
                        </p>
                    </div>
                </div>
                <a href="{% url 'veggie:index' %}">
                    <button class="absolute left-0 bottom-0 bg-yellow-400 hover:bg-gray-600 hover:text-white text-xl py-2 px-4 rounded-full w-[30vh] h-[5.5vh] ml-5 mt-5">
                        Back to Home
                    </button>
                </a>
                {% if not bookmarks %}
                    <a href="{% url 'veggie:add_bookmark' restaurant.pk %}">
                        <img src="{% static 'veggie/images/unsaved.png' %}" class='absolute w-[50px] h-[40px] right-0 bottom-0'>
                    </a>
                {% else %}
                    {% for bookmark in bookmarks %}
                        {% if bookmark.bookmark_user != user %}
                            <a href="{% url 'veggie:add_bookmark' restaurant.pk %}">
                                <img src="{% static 'veggie/images/unsaved.png' %}" class='absolute w-[50px] h-[40px] right-0 bottom-0'>
                            </a>
                        {% else %}
                            <a href="{% url 'veggie:delete_bookmark' restaurant.pk %}">
                                <img src="{% static 'veggie/images/saved.png' %}" class='absolute w-[50px] h-[40px] right-0 bottom-0'>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <script>
                function createStarRating(restaurant) {
                    let stars = [];
                    for (let i = 1; i <= 5; i++) {
                        if (i <= parseInt(restaurant)) {
                            stars.push('<span class="fa fa-star text-yellow-400 text-xl"></span>');
                        } else {
                            stars.push('<span class="fa fa-star text-gray-400 text-xl"></span>');
                        }
                    }
                    return stars;
                }
            </script>
            
            <div class="relative mr-10 h-[82vh] w-[45vw] overflow-y-scroll bg-yellow-700 rounded-md shadow-xl">
                <a href="{% url 'veggie:add_review' pk=restaurant.pk  %}">
                    <button class="absolute right-0 bg-yellow-400 hover:bg-gray-600 hover:text-white text-xl py-2 px-4 rounded-full w-[12vw] h-[5vh] mt-[2vh] mr-[1.5vw]">
                        Add review
                    </button>
                </a>
                <h1 class="text-2xl mt-[2.5vh] ml-[2vw] text-white">Reviews ({{ restaurant.get_reviews_amount }} reviews)</h1>
                {% if reviews %}
                    {% for review in reviews %}
                        <div class="relative border border-gray-100 rounded-md ml-[2vw] mr-[2vw] mt-[3vh] pl-[2vw] pr-[2vw] bg-white">
                            <img src="{% static 'veggie/images/users.png' %}" alt="" class="absolute w-11 mt-[2.5vh] mb-[2.5vh]">
                            <p class="absolute right-0 mt-[3vh] mr-[2vw]" id="{{review.pk}}"></p>
                            <script>
                                function renderStar() {
                                    let outputResult = document.getElementById('{{review.pk}}');
                                    outputResult.innerHTML = createStarRating({{review.review_rate}}).join('');
                                    console.log(createStarRating());
                                }
                                renderStar()
                            </script>
                            <p class="mt-[2.2vh] ml-[8vh]">{{ review.review_user }}</p>
                            <i class="mt-[2.2vh] ml-[8vh] text-sm">Reviewed on {{ review.review_date }}</i>
                            <h3 class="font-bold mt-[2vh] mb-[2vh] text-xl">{{ review.review_title }}</h3>
                            <p class="mb-[2vh]">{{ review.review_description }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 class="flex text-xl justify-center mt-[40%] mb-[35%]">
                        There are currently no review for this restaurant,
                        <a href="{% url 'veggie:add_review' pk=restaurant.pk  %}" class="text-yellow-500 underline">Be first!</a>
                    </h2>
                {% endif %}
                <script>
                    function renderStar() {
                        let outputResult = document.getElementById('{{restaurant.pk}}');
                        outputResult.innerHTML = createStarRating({{restaurant.get_average_rate}}).join('');
                    }
                    renderStar()
                </script>
            </div>
        </div>
    </body>
{% endblock %}
