{% extends "base.html" %}
{% load static %}

{% block content %}

    <body>
        <link rel="stylesheet" href="{% static 'veggie/detail.css' %}">
        {% if messages %}
            {% for message in messages %}
                <p style="color: orangered;"><strong>{{ message }}</strong></p>
            {% endfor %}
        {% endif %}

        <div class="restaurant-container">
            <div class="avg-star-rating-container">
                Avg Star Rating: {{ restaurant.get_average_rate }}
            </div>
            <h1>{{ restaurant }}</h1>
            <img src="{{ restaurant.image }}" alt="Restaurant Image" width="80%" height="45%">
            <h3>Location: {{ restaurant.location }}</h3>
            <h3>Category: {{ restaurant.category }}</h3>
            <h3>Price Rate: {{ restaurant.price_rate }}</h3>
            <h3>Link: <a href={{restaurant.restaurant_link}}>Tripadvisor</a></h3>
        </div>
        <div class="button">
            <a href="{% url 'veggie:home' %}">Back to Home</a>
        </div>

        <div class="button">
            <a href="{% url 'veggie:add_review' pk=restaurant.pk  %}">Add review</a>
        </div>

        <div class="review-container">
            <a href="{% url 'veggie:add_review' pk=restaurant.pk  %}">Add review</a>
        </div>

    </body>
{% endblock %}
