{% extends "base.html" %}

{% block content %}

    <div>
        <div class="flex flex-col h-[150px] w-[100%] border-b-[2px] border-gray-300 items-center justify-center">
            <form method="get" action="{% url 'veggie:filtered_category_state' %}" class="flex items-center">
                <label for="category" class="px-4 text-xl">Category:</label>
                <select name="category" id="category" class="rounded-md">
                    {% for category in all_categories %}
                        <option value="{{ category }}" {% if category == selected_category %}selected{% endif %}>{{ category }}</option>
                    {% endfor %}
                </select>
                <label for="state" class="px-4 text-xl">State:</label>
                <select name="state" id="state" class="rounded-md">
                    {% for state in all_states %}
                        <option value="{{ state }}" {% if state == selected_state %}selected{% endif %}>{{ state }}</option>
                    {% endfor %}
                </select>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold mx-4 py-2 px-4 rounded-md">
                    Filter
                </button>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <p class="text-red-600 text-center mt-5"><strong>{{ message }}</strong></p>
                {% endfor %}
            {% else %}
                {% if selected_category == None and selected_state == None %}
                    <p></p>
                {% elif selected_category != 'All' and selected_state != 'All' %}
                    <p class="text-xl mt-5">Category: {{selected_category}} State: {{selected_state}}</p>
                {% elif selected_category != 'All' and selected_state == 'All' %}
                    <p class="text-xl mt-5">Category: {{selected_category}}</p>
                {% elif selected_category == 'All' and selected_state != 'All' %}
                    <p class="text-xl mt-5">State: {{selected_state}}</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="grid grid-cols-4 gap-5 text-center pt-10 pb-10 pl-5 pr-5 ">
            {% for restaurant in all_restaurants %}
                <span class="inline-block mx-5 my-5 aspect-[1/1] rounded-xl shadow-lg">
                    <img src="{{ restaurant.image }}" alt="{{ restaurant.restaurant_text }}" class="rounded-t-lg h-[70%] w-[100%]">
                    <div class="text-lg font-semibold">{{ restaurant.restaurant_text }}</div>
                    <div>{{ restaurant.location }}</div>
                </span>
            {% endfor %}
        </div>
    </div>

{% endblock %}
