{% extends "base.html" %}

{% block content %}

    <div>
        <div class="flex h-[150px] w-[100%] border-b-[2px] border-gray-300 items-center justify-center">
            <form method="get" action="{% url 'veggie:filtered_category_state' %}" class="flex items-center">
                <label for="category" class="px-4 text-xl">Category:</label>
                <select name="category" id="category" class="rounded-md">
                    {% for category in all_categories %}
                        <option value="{{ category }}" {% if category == selected_category %}selected{% endif %}>{{ category }}</option>
                    {% endfor %}
                </select>
                <label for="state" class="px-4 text-xl">State:</label>
                <select name="state" id="state" class="rounded-md">
                    {% for state in all_states %}
                        <option value="{{ state }}" {% if state == selected_state %}selected{% endif %}>{{ state }}</option>
                    {% endfor %}
                </select>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold mx-4 py-2 px-4 rounded-md">
                    Filter
                </button>
            </form>
        </div>
        <div class="grid grid-cols-4 gap-5 text-center pt-10 pb-10 pl-5 pr-5 ">
            {% for restaurant in all_restaurants %}
                <span class="inline-block mx-5 my-5 aspect-[1/1] rounded-xl shadow-lg">
                    <img src="{{ restaurant.image }}" alt="{{ restaurant.restaurant_text }}" class="rounded-xl">
                    <div class="text-lg">{{ restaurant.restaurant_text }}</div>
                </span>
            {% endfor %}
        </div>
    </div>

{% endblock %}
