{% extends 'base.html' %}
{% load static %}

{% block title %}Your Reviews{% endblock %}
{% block content %}
{% if reviews_list %}
<table style="width:50%" border="1px solid black">
  <tr>
    <th>Restaurant</th>
    <th>Star rating</th>
    <th>Review title</th>
    <th>Delete</th>
  </tr>
    {% for review in reviews_list %}
  <tr>
    <td><a href="{% url 'veggie:detail' review.restaurant.id %}">{{ review.restaurant.restaurant_text }}</a></td>
    <td>{{ review.review_rate }}</td>
    <td>{{ review.review_title }}</td>
    <td><a href="#">Delete</a></td>
  </tr>
    {% endfor %}
</table>
{% else %}
    <p>You don't have any reviews.</p>
{% endif %}
<a href="{% url 'veggie:index' %}">Back to home page</a>
{% endblock %}
