[flake8]
max-line-length = 120
ignore = E203, E266, E501, W503
exclude=*/migrations/*, env/*, .git/*, .venv/*, .vscode/*, .idea/*, .pytest_cache/*, .mypy_cache/*, .gitignore, .flake8, .coverage, manage.py, db.sqlite3, .env, .env.example, .env.dev, .env.prod, .env.test, .env.local, .env.*.local, .vscode, .vscode/*, mysite/*, ./theme/*.py, ./veggie/__init__.py