# Create a secret key using command: python3 -c 'import secrets; print(secrets.token_hex(24))'

# .env file
SECRET_KEY=your-secret-key-value

# Set DEBUG to True for development, False for actual use
DEBUG=False

# ALLOWED_HOSTS is a comma-separated list of hosts that can access the app.
# You can use wildcard chars (*) and IP addresses. Use * for any host.
ALLOWED_HOSTS='*.ku.th, localhost, 127.0.0.1, ::1, testserver'

# Your timezone
TIME_ZONE=Asia/Bangkok

# You need to specify NPM_BIN_PATH on your device by using `where npm` to find your path
NPM_BIN_PATH=your-npm-bin-path