{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% tailwind_css %}
    </head>
    <body style="font-family: Inter; hi">
        <div class="flex h-[70px] border-b-[2px] border-gray-100 text-xl items-center justify-between bg-yellow-700 text-white">
            <a href="{% url "veggie:index" %}" class="ml-[3%]">
                <img src="{% static 'veggie/images/veggiehub-logo.png' %}" alt="veggiehub-logo" class="w-[20vh]">
            </a>
            <div class="flex space-x-12 mr-[3%]">
                <a href="{% url "veggie:index" %}">Home</a>
                {% if not user.is_authenticated %}
                    <a href="{% url "account_login" %}">Login</a>
                    <a href="{% url "account_signup" %}">Sign-up</a>
                {% else %}
                    <a href="{% url "veggie:my_reviews" user.id %}">My reviews</a>
                    <a href="{% url "veggie:my_bookmarks" user.id %}">My Bookmarks</a>
                    <a href="#">{{user.username}}</a>
                    <a href="{% url "account_logout" %}">Logout</a>
                {% endif %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>