{% load socialaccount %}
{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %} {% endblock head_title%}</title>
    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>
    {% block body %}
        {% if messages %}
            <div>
                <strong>Messages:</strong>
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% block content %}
        {% endblock content %}
    {% endblock body %}
</body>
</html>
